* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 20%;
    background-color: #f1f1f1;
   padding: 20px;
}

/* Main column */
.main {
    flex: 80%;
    background-color: white;
    padding: 20px;
}
/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    color:#ADD5F7;
    background: #35478C;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

/*-------------------------------------*/
.nahore ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #35478C;
}

.nahore li {
    float: left;
    height: 75px;
}

.nahore li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 25px 10px;
    text-decoration: none;
    height: 75px;
}

.nahore li a:hover, .dropdown:hover .dropbtn {
    border-radius: 4px;
    background-color: #4E7AC7;
}

.nahore li.dropdown {
    display: inline-block;
}

.nahore .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nahore .dropdown-content a {
    color:#16193B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nahore .dropdown-content a:hover {
    background-color: #f1f1f1
}

.nahore .dropdown:hover .dropdown-content {
    display: block;
}
/*------------------------------------------------*/
.bocni ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 1px grey solid;
}

.bocni li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.bocni li a.active {
    background-color: #4CAF50;
    color: white;
}

.bocni li a:hover:not(.active) {
    background-color: #BDBDBD;
    color: white;
}

/*tabulka------------------------*/
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
    overflow-x:auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4E7AC7;
    color: white;
}


/*formular*/


input, select {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #35478C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4E7AC7;
}

input[type=checkbox], input[type=radio]{
    width: auto;
    margin: 10px;
}

/*obrazek

 */
.logo {
    float: left;
    max-height: 75px;
}

/*clanek --------------------------*/
article{
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
dl {
    width: 70%;
    overflow: hidden;
    padding: 0;
    margin: 0
}
dt {
    float: left;
    width: 50%;
    color: grey;
    padding: 0;
    margin: 0
}
dd {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0
}
.wrap1{
    overflow: auto;
}
.wrap1>img {
    float: left;
}
.wrap1 img{
    border-radius: 4px;
    width: 30%;
    border: 1px grey solid;
}

.detail img{
    float: left;
    margin: 5px;
    border-radius: 4px;
    border: 1px grey solid;
}

.detail .velky img{
    min-width: 300px;
    width: 60%;
}

.detail .maly img{
    min-width: 100px;
    width: 15%;
}

.galerie:after {
    content: "";
    display: table;
    clear: both;
}

.equipment{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.specEquip{
    max-width: 500px;
    border: none;
}
.specEquip tr{
    border-bottom: 1px dotted grey;
    background-color: transparent;
}
.specEquip th{
    border-bottom: 1px dotted grey;
    background-color: transparent;
}
.specEquip th{
    font-weight: normal;
    color: grey;
   width: 50%;
}

@media print {
    .side {
        display: none;
    }
    .footer{
        display:none;
    }
    .reservation{
        display:none;
    }
    .galerie .maly img{
        margin: 1px;
        padding: 1px;
        min-width:30%;
        width: 30%;
    }
    .galerie .velky img{
        margin: 1px;
        padding: 1px;
        min-width: 30%;
        width:30%;
    }
    .toptop li a{
        color: #35478C;
    }
}
